# The Why?

How to encapsulate data?

EV -> sore several instances of EVs

range -> how long the car would go on a sigle charege  
make -> the mnaufacturere  
price -> how much does it cost

In [45]:
bolt = [417, "Chevrolet", 42000]
model_s = [520, "Tesla", 84000]
mx30 = [100, "Mazda", 35000]

In [46]:
#immutable?
bolt = (417, "Chevrolet", 42000)
model_s = (520, "Tesla", 84000)
mx30 = (100, "Mazda", 35000)

In [47]:
bolt[0]

417

In [48]:
model_s[1]

'Tesla'

In [49]:
bolt[0] #this is range for the bolt!

417

In [50]:
bolt = {"range":417, "make":"Chevrolet", "price":42000}
model_s = {"range":520, "make":"Tesla", "price":84000}
mx30 = {"range":100, "make":"Mazda", "price":35000}

In [51]:
model_s.get("make")

'Tesla'

In [52]:
#create a new class!

In [53]:
class EV:
    def __init__(self,_range, make, price) -> None:
        self.range = _range
        self.make = make
        self.price = price

In [54]:
bolt = EV(417, "Chevrolet", 42000)

In [55]:
bolt

In [56]:
bolt.make

'Chevrolet'

In [57]:
bolt.range

417

# 96. An Alternative: namdtuple

In [58]:
from collections import namedtuple

In [59]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [60]:
ev1 = EV(417, "Chevrolet", 42000)

In [61]:
ev1

ElectricVehicle(range=417, make='Chevrolet', price=42000)

In [62]:
ev1.range

417

In [63]:
EV_defaults = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=[100, "Tesla" , "49000"])

In [64]:
EV_defaults(200)

ElectricVehicle(range=200, make='Tesla', price='49000')

```python
def funny_function(a=None, b):
    pass
```
```bash
 Cell In[8], line 1
    def funny_function(a=None, b):
                               ^
SyntaxError: non-default argument follows default argument
```

In [65]:
EV_defaults_non = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=("49000",))

In [66]:
EV_defaults_non(100,"Tesla")

ElectricVehicle(range=100, make='Tesla', price='49000')

```python
EV_defaults_non("Tesla")
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[12], line 1
----> 1 EV_defaults_non("Tesla")

TypeError: ElectricVehicle.__new__() missing 1 required positional argument: 'make'
```

In [67]:
ev1._asdict()

{'range': 417, 'make': 'Chevrolet', 'price': 42000}

In [68]:
EV_4 = namedtuple("ElectricVehicle", "range make price", defaults=("49000",))

In [69]:
other_tesla = EV_4(100, "Telsa")

In [70]:
other_tesla

ElectricVehicle(range=100, make='Telsa', price='49000')

# BONUS: A Quick point on immutability

In [71]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [72]:
ev = EV(200, "Chevy", 49000)

# Immutable

In [73]:
ev.range

200

```python
ev.range = 300
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[30], line 1
----> 1 ev.range = 300

AttributeError: can't set attribute
```

In [74]:
ev2 = EV([200,300], "Chevy", 49000)

In [75]:
type(ev2.range)

list

In [76]:
id(ev2.range)

2011046998016

In [77]:
ev2.range[0] = 250

In [78]:
ev2.range

[250, 300]

In [79]:
id(ev2.range)

2011046998016

In [80]:
ev3 = EV((200,300), "Chevy", 49000)

In [81]:
type(ev3.range)

tuple

```python
ev3.range[0] = 250
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[43], line 1
----> 1 ev3.range[0] = 250

TypeError: 'tuple' object does not support item assignment
```

# 98. BONUS: Typed NamedTuple

since 3.6 --> Tyed namedtuples

In [2]:
from typing import NamedTuple

In [3]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int

In [4]:
ev = EVehicle(100, "Tesla", 12000)

In [5]:
ev.range, ev.make, ev.price

(100, 'Tesla', 12000)

In [6]:
ev[0], ev[1], ev[2]

(100, 'Tesla', 12000)

In [11]:
[print(x) for x in ev]

100
Tesla
12000

[None, None, None]

```python
ev.range = 6000
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[12], line 1
----> 1 ev.range = 6000

AttributeError: can't set attribute
```

In [15]:
print(ev)

EVehicle(range=100, make='Tesla', price=12000)

In [16]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int = 39000

In [17]:
ev = EVehicle(100, "Tesla")

In [18]:
ev

EVehicle(range=100, make='Tesla', price=39000)

# Dataclasses

* added to 3.7
* fine tuned for staring state

In [7]:
from dataclasses import dataclass

In [8]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [9]:
class RegElectricVehicle:
    def __init__(self, _range, price, make) -> None:
        self._range = _range
        self.price = price
        self.make = make

In [10]:
ev = ElectricVehicle(100, "Tesla", 3900)

In [11]:
ev.range, ev.make, ev.price

(100, 'Tesla', 3900)

In [12]:
eev = RegElectricVehicle(99, "GM", 98989898)

In [13]:
eev.make, eev.price, eev._range

(98989898, 'GM', 99)