# The Why?

How to encapsulate data?

EV -> sore several instances of EVs

range -> how long the car would go on a sigle charege  
make -> the mnaufacturere  
price -> how much does it cost

In [1]:
bolt = [417, "Chevrolet", 42000]
model_s = [520, "Tesla", 84000]
mx30 = [100, "Mazda", 35000]

In [3]:
#immutable?
bolt = (417, "Chevrolet", 42000)
model_s = (520, "Tesla", 84000)
mx30 = (100, "Mazda", 35000)

In [4]:
bolt[0]

417

In [5]:
model_s[1]

'Tesla'

In [6]:
bolt[0] #this is range for the bolt!

417

In [7]:
bolt = {"range":417, "make":"Chevrolet", "price":42000}
model_s = {"range":520, "make":"Tesla", "price":84000}
mx30 = {"range":100, "make":"Mazda", "price":35000}

In [8]:
model_s.get("make")

'Tesla'

In [9]:
#create a new class!

In [10]:
class EV:
    def __init__(self,_range, make, price) -> None:
        self.range = _range
        self.make = make
        self.price = price

In [12]:
bolt = EV(417, "Chevrolet", 42000)

In [13]:
bolt

In [14]:
bolt.make

'Chevrolet'

In [16]:
bolt.range

417

# 96. An Alternative: namdtuple

In [1]:
from collections import namedtuple

In [2]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [3]:
ev1 = EV(417, "Chevrolet", 42000)

In [4]:
ev1

ElectricVehicle(range=417, make='Chevrolet', price=42000)

In [5]:
ev1.range

417

In [6]:
EV_defaults = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=[100, "Tesla" , "49000"])

In [7]:
EV_defaults(200)

ElectricVehicle(range=200, make='Tesla', price='49000')

```python
def funny_function(a=None, b):
    pass
```
```bash
 Cell In[8], line 1
    def funny_function(a=None, b):
                               ^
SyntaxError: non-default argument follows default argument
```

In [10]:
EV_defaults_non = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=("49000",))

In [11]:
EV_defaults_non(100,"Tesla")

ElectricVehicle(range=100, make='Tesla', price='49000')

```python
EV_defaults_non("Tesla")
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[12], line 1
----> 1 EV_defaults_non("Tesla")

TypeError: ElectricVehicle.__new__() missing 1 required positional argument: 'make'
```

In [13]:
ev1._asdict()

{'range': 417, 'make': 'Chevrolet', 'price': 42000}

In [15]:
EV_4 = namedtuple("ElectricVehicle", "range make price", defaults=("49000",))

In [17]:
other_tesla = EV_4(100, "Telsa")

In [18]:
other_tesla

ElectricVehicle(range=100, make='Telsa', price='49000')