# The Why?

How to encapsulate data?

EV -> sore several instances of EVs

range -> how long the car would go on a sigle charege  
make -> the mnaufacturere  
price -> how much does it cost

In [1]:
bolt = [417, "Chevrolet", 42000]
model_s = [520, "Tesla", 84000]
mx30 = [100, "Mazda", 35000]

In [2]:
#immutable?
bolt = (417, "Chevrolet", 42000)
model_s = (520, "Tesla", 84000)
mx30 = (100, "Mazda", 35000)

In [3]:
bolt[0]

417

In [4]:
model_s[1]

'Tesla'

In [5]:
bolt[0] #this is range for the bolt!

417

In [6]:
bolt = {"range":417, "make":"Chevrolet", "price":42000}
model_s = {"range":520, "make":"Tesla", "price":84000}
mx30 = {"range":100, "make":"Mazda", "price":35000}

In [7]:
model_s.get("make")

'Tesla'

In [8]:
#create a new class!

In [9]:
class EV:
    def __init__(self, _range, make, price) -> None:
        self.range = _range
        self.make = make
        self.price = price

In [10]:
bolt = EV(417, "Chevrolet", 42000)

In [11]:
bolt

In [12]:
bolt.make

'Chevrolet'

In [13]:
bolt.range

417

# 96. An Alternative: namdtuple

In [14]:
from collections import namedtuple

In [15]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [16]:
ev1 = EV(417, "Chevrolet", 42000)

In [17]:
ev1

ElectricVehicle(range=417, make='Chevrolet', price=42000)

In [18]:
ev1.range

417

In [19]:
EV_defaults = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=[100, "Tesla" , "49000"])

In [20]:
EV_defaults(200)

ElectricVehicle(range=200, make='Tesla', price='49000')

```python
def funny_function(a=None, b):
    pass
```
```bash
 Cell In[8], line 1
    def funny_function(a=None, b):
                               ^
SyntaxError: non-default argument follows default argument
```

In [21]:
EV_defaults_non = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=("49000",))

In [22]:
EV_defaults_non(100,"Tesla")

ElectricVehicle(range=100, make='Tesla', price='49000')

```python
EV_defaults_non("Tesla")
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[12], line 1
----> 1 EV_defaults_non("Tesla")

TypeError: ElectricVehicle.__new__() missing 1 required positional argument: 'make'
```

In [23]:
ev1._asdict()

{'range': 417, 'make': 'Chevrolet', 'price': 42000}

In [24]:
EV_4 = namedtuple("ElectricVehicle", "range make price", defaults=("49000",))

In [25]:
other_tesla = EV_4(100, "Telsa")

In [26]:
other_tesla

ElectricVehicle(range=100, make='Telsa', price='49000')

# BONUS: A Quick point on immutability

In [27]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [28]:
ev = EV(200, "Chevy", 49000)

# Immutable

In [29]:
ev.range

200

```python
evrange = 300
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[30], line 1
----> 1 evrange = 300

AttributeError: can't set attribute
```

In [30]:
ev2 = EV([200,300], "Chevy", 49000)

In [31]:
type(ev2.range)

list

In [32]:
id(ev2.range)

2248023384448

In [33]:
ev2.range[0] = 250

In [34]:
ev2.range

[250, 300]

In [35]:
id(ev2.range)

2248023384448

In [36]:
ev3 = EV((200,300), "Chevy", 49000)

In [37]:
type(ev3.range)

tuple

```python
ev3range[0] = 250
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[43], line 1
----> 1 ev3range[0] = 250

TypeError: 'tuple' object does not support item assignment
```

# 98. BONUS: Typed NamedTuple

since 3.6 --> Tyed namedtuples

In [38]:
from typing import NamedTuple

In [39]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int

In [40]:
ev = EVehicle(100, "Tesla", 12000)

In [41]:
ev.range, ev.make, ev.price

(100, 'Tesla', 12000)

In [42]:
ev[0], ev[1], ev[2]

(100, 'Tesla', 12000)

In [43]:
[print(x) for x in ev]

100
Tesla
12000

[None, None, None]

```python
evrange = 6000
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[12], line 1
----> 1 evrange = 6000

AttributeError: can't set attribute
```

In [44]:
print(ev)

EVehicle(range=100, make='Tesla', price=12000)

In [45]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int = 39000

In [46]:
ev = EVehicle(100, "Tesla")

In [47]:
ev

EVehicle(range=100, make='Tesla', price=39000)

# Dataclasses

* added to 3.7
* fine tuned for staring state

In [48]:
from dataclasses import dataclass

In [49]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [50]:
class RegElectricVehicle:
    def __init__(self, _range, price, make) -> None:
        self._range = _range
        self.price = price
        self.make = make

In [51]:
ev = ElectricVehicle(100, "Tesla", 3900)

In [52]:
ev.range, ev.make, ev.price

(100, 'Tesla', 3900)

In [53]:
eev = RegElectricVehicle(99, "GM", 98989898)

In [54]:
eev.make, eev.price, eev._range

(98989898, 'GM', 99)

# 100. Batteries Inclueded

In [55]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [56]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price

In [57]:
ev1 = ElectricVehicle(240, "Mazda", 34000)

In [58]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)

In [59]:
ev1

ElectricVehicle(range=240, make='Mazda', price=34000)

In [60]:
eval(repr(ev1))

ElectricVehicle(range=240, make='Mazda', price=34000)

In [61]:
rev1 # object's __reprp__

In [62]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"

In [63]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)

In [64]:
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [65]:
rev1

RegularElectricVehicle (range=140, make='Jeep', price=54000)

In [66]:
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

## Equality

In [67]:
ev1 == ev2

True

In [68]:
ev2 == ev3

False

In [69]:
rev1 == rev2 # object's __eq__

False

In [70]:
id(rev1), id(rev2)

(2248023422672, 2248022933456)

In [71]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price

In [72]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [73]:
rev1 == rev2

True

## Comparison operators

```python
ev1 > ev2
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[219], line 1
----> 1 ev1 > ev2

TypeError: '>' not supported between instances of 'ElectricVehicle' and 'ElectricVehicle'
```

In [74]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

In [75]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [76]:
ev1 > ev2

False

In [77]:
ev3 > ev2

True

```python
rev1 > rev2
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[225], line 1
----> 1 rev1 > rev2

TypeError: '>' not supported between instances of 'RegularElectricVehicle' and 'RegularElectricVehicle'
```

In [78]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range > other.range

In [79]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [80]:
rev1 > rev3

False

In [81]:
rev3 > rev1

True

In [82]:
rev1 < rev3

True

In [83]:
class RegularElectricVehicle:
    def __init__(self, _range, make , price) -> None:
        self.range = _range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range > other.range
    
    def __ge__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range >= other.range

In [84]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [85]:
rev1 == rev2

True

In [86]:
class RegularElectricVehicle:
    def __init__(self, _range, make , price) -> None:
        self.range = _range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return (other.range, other.make, other.price) < (self.range, self.make, self.price)
    
    def __ge__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range >= other.range

In [87]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [88]:
ev3 > ev1

True

# Type Hints

In [89]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

```python
Argument of type "Literal['Andrew']" cannot be assigned to parameter "range" of type "int" in function "__init__"
  "Literal['Andrew']" is incompatible with "int"PylancereportGeneralTypeIssues
```

In [90]:
ec = ElectricVehicle("Andrew", 10, 230000)

In [91]:
ec.range

'Andrew'

In [92]:
from typing import Any

In [93]:
from dataclasses import dataclass

In [94]:
@dataclass(order=True)
class ElectricVehicle:
    range: Any
    make: str
    price: int

In [95]:
ec = ElectricVehicle("Andrew", "Tesla", 230000)

In [96]:
@dataclass(order=True)
class ElectricVehicle:
    range: object
    make: object
    price: object

In [97]:
@dataclass(order=True)
class ElectricVehicle:
    range: ...
    make: ...
    price: ...

In [98]:
ec = ElectricVehicle("Andrew", "Tesla", 230000)

# Customizing Fields

In [99]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

In [100]:
# fields

In [101]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str = "Tesla"
    price: int = 56000

In [102]:
ev = ElectricVehicle(420)

In [103]:
ev.make

'Tesla'

In [104]:
ev

ElectricVehicle(range=420, make='Tesla', price=56000)

In [105]:
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': 56000}

In [106]:
from dataclasses import field

In [107]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)

In [108]:
ev = ElectricVehicle(420)
ev2 = ElectricVehicle(421)
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': 56000}

In [109]:
ev

ElectricVehicle(range=420, make='Tesla')

In [110]:
ev > ev2

False

In [111]:
ev2 > ev

True

In [112]:
from functools import total_ordering

@total_ordering
@dataclass
class ElectricVehicle:
    range: int = field()
    make: str = field(default="Tesla")
    price: int = field(default=56000, repr=False)

    def __gt__(self, other):
        if not type(self) == type(other):
            return NotImplemented
        
        return self.price < other.price

In [113]:
ev = ElectricVehicle(range=420)
ev2 = ElectricVehicle(range=421, price=56001)

In [114]:
ev > ev2

True

In [115]:
ev2 > ev

False

In [116]:
ev, ev2

(ElectricVehicle(range=420, make='Tesla'),
 ElectricVehicle(range=421, make='Tesla'))

In [117]:
ev >= ev2

True

In [118]:
ev <= ev2

False

In [119]:
ev == ev2

False

# BONUS: Further Customization

In [120]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = field(default=False)

What is luxury?

* a price that is greater than 80k and
* a make that is BMW, Mercedez or Tesla

In [121]:
ev_1 = ElectricVehicle(100, "Tesla" , 40000, False)
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_3 = ElectricVehicle(100, "Audi" , 30000, False)

In [122]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = False

    def __post_init__(self):
        luxury_brands = ["BMW", "Mercedes", "Tesla"]
        self.luxury = self.make in luxury_brands and self.price > 80000

In [123]:
ev_5 = ElectricVehicle(100, "Tesla" , 80001)
ev_5.__dict__

{'range': 100, 'make': 'Tesla', 'price': 80001, 'luxury': True}

In [124]:
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_2.luxury

True

In [125]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = None

    def __post_init__(self):
        luxury_brands = ["BMW", "Mercedes", "Tesla"]
        if self.luxury is None:
            self.luxury = self.make in luxury_brands and self.price > 80000

In [126]:
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_2.luxury

False

In [127]:
ev_2.__dict__

{'range': 100, 'make': 'BMW', 'price': 140000, 'luxury': False}

In [128]:
@dataclass(order=True)
class ElectricVehicle:
    LUXURY_BRANDS = ("BMW", "Mercedes", "Tesla")

    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = None

    def __post_init__(self):
        if self.luxury is None:
            self.luxury = self.make in self.LUXURY_BRANDS and self.price > 80000

In [129]:
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_2.luxury

False

In [130]:
ev_5 = ElectricVehicle(100, "Tesla" , 80001)
ev_5.__dict__

{'range': 100, 'make': 'Tesla', 'price': 80001, 'luxury': True}

# Immutavility

In [131]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)

In [132]:
ev = ElectricVehicle(100, "Tesla", 140000)

In [133]:
ev.range = 200

In [134]:
# read-nly rporperty

In [135]:
class ElectricVehicle2:
    def __init__(self, _range, make, price) -> None:
        self.__range = _range
        self.__make = make
        self.__price = price

    @property
    def range(self):
        return self.__range
    
    @property
    def make(self):
        return self.__make
    
    @property
    def price(self):
        return self.__price

In [136]:
ev = ElectricVehicle2(100 , "BMW", 140000)

In [137]:
ev.__dict__

{'_ElectricVehicle2__range': 100,
 '_ElectricVehicle2__make': 'BMW',
 '_ElectricVehicle2__price': 140000}

'''python
ev.make = "Weee"
'''

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[140], line 1
----> 1 ev.make = "Weee"

AttributeError: property 'make' of 'ElectricVehicle2' object has no setter
```

In [138]:
@dataclass(order=True, frozen=True)
class ElectricVehicle:
    range: int = field(compare=True, hash=False)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)

In [139]:
ev = ElectricVehicle(100 , "BMW", 140000)

```python
ev.make = "Weee"
```

```python

---------------------------------------------------------------------------
FrozenInstanceError                       Traceback (most recent call last)
Cell In[286], line 1
----> 1 ev.make = "Weee"

File :4, in __setattr__(self, name, value)

FrozenInstanceError: cannot assign to field 'make'
```

frozen = True -> immutable + hashable

In [140]:
{
    ElectricVehicle(100, "BMW", 140000):{
        "customers":10,
        "tags":['dream car', "superb"]
    }
}

{ElectricVehicle(range=100, make='BMW'): {'customers': 10,
  'tags': ['dream car', 'superb']}}

In [141]:
ev = ElectricVehicle(100 , "BMW", 140000)
ev2 = ElectricVehicle(120 , "BMW", 140000)

In [142]:
hash(ev), hash(ev2)

(5740354900026072187, 5740354900026072187)

# Inheritance

In [151]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True, hash=False)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)

In [152]:
@dataclass
class LuxuriousElectricVehicle(ElectricVehicle): #LEV
    displays: int = 3
    scent_system: bool = True
    internet: bool = True

In [153]:
lev = LuxuriousElectricVehicle(100)

In [154]:
lev

LuxuriousElectricVehicle(range=100, make='Tesla', displays=3, scent_system=True, internet=True)

In [155]:
lev.__dict__

{'range': 100,
 'make': 'Tesla',
 'price': 56000,
 'displays': 3,
 'scent_system': True,
 'internet': True}

In [156]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True, hash=False)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)

In [157]:
@dataclass
class LuxuriousElectricVehicle(ElectricVehicle): #LEV
    displays: int = 3
    scent_system: bool = True
    internet: bool = True
    price: int = 100000

In [158]:
lev = LuxuriousElectricVehicle(100)

In [159]:
lev

LuxuriousElectricVehicle(range=100, make='Tesla', price=100000, displays=3, scent_system=True, internet=True)

# Why Not just Namdetuples?

In [160]:
from collections import namedtuple

In [161]:
EVNT =namedtuple("ElectricVehicle", ['range','make','price'])

In [163]:
from dataclasses import make_dataclass

In [164]:
EVDC = make_dataclass("ElectricVehicle", ['range','make','price'])

In [165]:
EVNT(100,"BMD",74000)

ElectricVehicle(range=100, make='BMD', price=74000)

In [166]:
LEVNT = namedtuple("LuxuriousElectricVehicle", ["mini_displays",'scent_system','internet'])

In [167]:
LEVNT(100,"BMD",74000)

LuxuriousElectricVehicle(mini_displays=100, scent_system='BMD', internet=74000)

In [168]:
EVNT == LEVNT

False

In [169]:
(100,"BMD",74000) == (100,"BMD",74000)

True

In [176]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

@dataclass
class LuxuriousElectricVehicle:
    mini_displays: int
    scent_system: str
    internet: int

In [180]:
ElectricVehicle(100,"BMW",74000) == LuxuriousElectricVehicle(100,"BMW",74000)

False

In [182]:
LEVNT(100,"BMW",74000)

LuxuriousElectricVehicle(mini_displays=100, scent_system='BMW', internet=74000)

In [183]:
LEVNT = namedtuple("LuxuriousElectricVehicle", ["mini_displays",'scent_system','internet'] , defaults=(100,))

In [184]:
LEVNT("BMW",74000)

LuxuriousElectricVehicle(mini_displays='BMW', scent_system=74000, internet=100)

# Skill Challange #10

In [185]:
@dataclass(frozen=True)
class Stock:
    ticker: str
    price: float
    dividend: float = 0
    dividend_frequency: int = 4

    @property
    def annual_dividend(self):
        return self.dividend * self.dividend_frequency

In [189]:
from functools import total_ordering

@dataclass
@total_ordering
class Position:
    stock: Stock
    shares: int

    def __lt__(self, other):
        if type(other) != Position:
            raise TypeError("Can only compare instance of Position")

        return self.stock.price * self.shares < other.stock.price * other.shares

    def __eq__(self, other):
        if type(other) != Position:
            raise TypeError("Can only compare instance of Position")

        return self.stock.price * self.shares == other.stock.price * other.shares

In [190]:

from typing import List

@dataclass
class Portfolio:
    holdings: List[Position]

    @property
    def value(self):
        total_value = sum([position.stock.price * position.shares for position in self.holdings])
        return total_value

    @property
    def portfolio_yield(self):
        total_dividends = sum([position.stock.annual_dividend * position.shares for position in self.holdings])

        return round((total_dividends / self.value), 6)

In [191]:
MSFT = Stock(ticker='MSFT', price=360, dividend=0.62, dividend_frequency=4)

In [192]:
LMT = Stock("LMT",360,2.8,4)

In [193]:
GOOGL = Stock("GOOGL", 2200, 0 ,0)

In [194]:
LMT

Stock(ticker='LMT', price=360, dividend=2.8, dividend_frequency=4)

In [195]:
MSFT

Stock(ticker='MSFT', price=360, dividend=0.62, dividend_frequency=4)

In [196]:
GOOGL

Stock(ticker='GOOGL', price=2200, dividend=0, dividend_frequency=0)

In [197]:
LMT.annual_dividend

11.2

In [198]:
MSFT.annual_dividend

2.48

In [199]:
GOOGL.annual_dividend

0

In [207]:
p1 = Position(MSFT, 100)
p2 = Position(LMT, 100)
p3 = Position(GOOGL, 10)

In [208]:
p1

Position(stock=Stock(ticker='MSFT', price=360, dividend=0.62, dividend_frequency=4), shares=100)

In [209]:
p2

Position(stock=Stock(ticker='LMT', price=360, dividend=2.8, dividend_frequency=4), shares=100)

In [210]:
p3

Position(stock=Stock(ticker='GOOGL', price=2200, dividend=0, dividend_frequency=0), shares=10)

In [211]:
p1 == p2

True

In [212]:
p1 <= p3

False

In [213]:
portfolio = Portfolio(holdings=[p1,p2,p3])

In [214]:
portfolio.portfolio_yield

0.014553

In [215]:
f"{portfolio.portfolio_yield:.2%}"

'1.46%'

In [216]:
portfolio.value

94000

In [217]:
f"{portfolio.value:,.2f}"

'94,000.00'