# The Why?

How to encapsulate data?

EV -> sore several instances of EVs

range -> how long the car would go on a sigle charege  
make -> the mnaufacturere  
price -> how much does it cost

In [519]:
bolt = [417, "Chevrolet", 42000]
model_s = [520, "Tesla", 84000]
mx30 = [100, "Mazda", 35000]

In [520]:
#immutable?
bolt = (417, "Chevrolet", 42000)
model_s = (520, "Tesla", 84000)
mx30 = (100, "Mazda", 35000)

In [521]:
bolt[0]

417

In [522]:
model_s[1]

'Tesla'

In [523]:
bolt[0] #this is range for the bolt!

417

In [524]:
bolt = {"range":417, "make":"Chevrolet", "price":42000}
model_s = {"range":520, "make":"Tesla", "price":84000}
mx30 = {"range":100, "make":"Mazda", "price":35000}

In [525]:
model_s.get("make")

'Tesla'

In [526]:
#create a new class!

In [527]:
class EV:
    def __init__(self, _range, make, price) -> None:
        self.range = _range
        self.make = make
        self.price = price

In [528]:
bolt = EV(417, "Chevrolet", 42000)

In [529]:
bolt

In [530]:
bolt.make

'Chevrolet'

In [531]:
bolt.range

417

# 96. An Alternative: namdtuple

In [532]:
from collections import namedtuple

In [533]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [534]:
ev1 = EV(417, "Chevrolet", 42000)

In [535]:
ev1

ElectricVehicle(range=417, make='Chevrolet', price=42000)

In [536]:
ev1.range

417

In [537]:
EV_defaults = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=[100, "Tesla" , "49000"])

In [538]:
EV_defaults(200)

ElectricVehicle(range=200, make='Tesla', price='49000')

```python
def funny_function(a=None, b):
    pass
```
```bash
 Cell In[8], line 1
    def funny_function(a=None, b):
                               ^
SyntaxError: non-default argument follows default argument
```

In [539]:
EV_defaults_non = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=("49000",))

In [540]:
EV_defaults_non(100,"Tesla")

ElectricVehicle(range=100, make='Tesla', price='49000')

```python
EV_defaults_non("Tesla")
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[12], line 1
----> 1 EV_defaults_non("Tesla")

TypeError: ElectricVehicle.__new__() missing 1 required positional argument: 'make'
```

In [541]:
ev1._asdict()

{'range': 417, 'make': 'Chevrolet', 'price': 42000}

In [542]:
EV_4 = namedtuple("ElectricVehicle", "range make price", defaults=("49000",))

In [543]:
other_tesla = EV_4(100, "Telsa")

In [544]:
other_tesla

ElectricVehicle(range=100, make='Telsa', price='49000')

# BONUS: A Quick point on immutability

In [545]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [546]:
ev = EV(200, "Chevy", 49000)

# Immutable

In [547]:
ev.range

200

```python
evrange = 300
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[30], line 1
----> 1 evrange = 300

AttributeError: can't set attribute
```

In [548]:
ev2 = EV([200,300], "Chevy", 49000)

In [549]:
type(ev2.range)

list

In [550]:
id(ev2.range)

2060194886656

In [551]:
ev2.range[0] = 250

In [552]:
ev2.range

[250, 300]

In [553]:
id(ev2.range)

2060194886656

In [554]:
ev3 = EV((200,300), "Chevy", 49000)

In [555]:
type(ev3.range)

tuple

```python
ev3range[0] = 250
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[43], line 1
----> 1 ev3range[0] = 250

TypeError: 'tuple' object does not support item assignment
```

# 98. BONUS: Typed NamedTuple

since 3.6 --> Tyed namedtuples

In [556]:
from typing import NamedTuple

In [557]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int

In [558]:
ev = EVehicle(100, "Tesla", 12000)

In [559]:
ev.range, ev.make, ev.price

(100, 'Tesla', 12000)

In [560]:
ev[0], ev[1], ev[2]

(100, 'Tesla', 12000)

In [561]:
[print(x) for x in ev]

100
Tesla
12000

[None, None, None]

```python
evrange = 6000
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[12], line 1
----> 1 evrange = 6000

AttributeError: can't set attribute
```

In [562]:
print(ev)

EVehicle(range=100, make='Tesla', price=12000)

In [563]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int = 39000

In [564]:
ev = EVehicle(100, "Tesla")

In [565]:
ev

EVehicle(range=100, make='Tesla', price=39000)

# Dataclasses

* added to 3.7
* fine tuned for staring state

In [566]:
from dataclasses import dataclass

In [567]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [568]:
class RegElectricVehicle:
    def __init__(self, _range, price, make) -> None:
        self._range = _range
        self.price = price
        self.make = make

In [569]:
ev = ElectricVehicle(100, "Tesla", 3900)

In [570]:
ev.range, ev.make, ev.price

(100, 'Tesla', 3900)

In [571]:
eev = RegElectricVehicle(99, "GM", 98989898)

In [572]:
eev.make, eev.price, eev._range

(98989898, 'GM', 99)

# 100. Batteries Inclueded

In [573]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [574]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price

In [575]:
ev1 = ElectricVehicle(240, "Mazda", 34000)

In [576]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)

In [577]:
ev1

ElectricVehicle(range=240, make='Mazda', price=34000)

In [578]:
eval(repr(ev1))

ElectricVehicle(range=240, make='Mazda', price=34000)

In [579]:
rev1 # object's __reprp__

In [580]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"

In [581]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)

In [582]:
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [583]:
rev1

RegularElectricVehicle (range=140, make='Jeep', price=54000)

In [584]:
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

## Equality

In [585]:
ev1 == ev2

True

In [586]:
ev2 == ev3

False

In [587]:
rev1 == rev2 # object's __eq__

False

In [588]:
id(rev1), id(rev2)

(2060195471632, 2060194372688)

In [589]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price

In [590]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [591]:
rev1 == rev2

True

## Comparison operators

```python
ev1 > ev2
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[219], line 1
----> 1 ev1 > ev2

TypeError: '>' not supported between instances of 'ElectricVehicle' and 'ElectricVehicle'
```

In [592]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

In [593]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [594]:
ev1 > ev2

False

In [595]:
ev3 > ev2

True

```python
rev1 > rev2
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[225], line 1
----> 1 rev1 > rev2

TypeError: '>' not supported between instances of 'RegularElectricVehicle' and 'RegularElectricVehicle'
```

In [596]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range > other.range

In [597]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [598]:
rev1 > rev3

False

In [599]:
rev3 > rev1

True

In [600]:
rev1 < rev3

True

In [601]:
class RegularElectricVehicle:
    def __init__(self, _range, make , price) -> None:
        self.range = _range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range > other.range
    
    def __ge__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range >= other.range

In [602]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [603]:
rev1 == rev2

True

In [604]:
class RegularElectricVehicle:
    def __init__(self, _range, make , price) -> None:
        self.range = _range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return (other.range, other.make, other.price) < (self.range, self.make, self.price)
    
    def __ge__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range >= other.range

In [606]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [607]:
ev3 > ev1

True