# The Why?

How to encapsulate data?

EV -> sore several instances of EVs

range -> how long the car would go on a sigle charege  
make -> the mnaufacturere  
price -> how much does it cost

In [230]:
bolt = [417, "Chevrolet", 42000]
model_s = [520, "Tesla", 84000]
mx30 = [100, "Mazda", 35000]

In [231]:
#immutable?
bolt = (417, "Chevrolet", 42000)
model_s = (520, "Tesla", 84000)
mx30 = (100, "Mazda", 35000)

In [232]:
bolt[0]

417

In [233]:
model_s[1]

'Tesla'

In [234]:
bolt[0] #this is range for the bolt!

417

In [235]:
bolt = {"range":417, "make":"Chevrolet", "price":42000}
model_s = {"range":520, "make":"Tesla", "price":84000}
mx30 = {"range":100, "make":"Mazda", "price":35000}

In [236]:
model_s.get("make")

'Tesla'

In [237]:
#create a new class!

In [238]:
class EV:
    def __init__(self, _range, make, price) -> None:
        self.range = _range
        self.make = make
        self.price = price

In [239]:
bolt = EV(417, "Chevrolet", 42000)

In [240]:
bolt

In [241]:
bolt.make

'Chevrolet'

In [242]:
bolt.range

417

# 96. An Alternative: namdtuple

In [243]:
from collections import namedtuple

In [244]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [245]:
ev1 = EV(417, "Chevrolet", 42000)

In [246]:
ev1

ElectricVehicle(range=417, make='Chevrolet', price=42000)

In [247]:
ev1.range

417

In [248]:
EV_defaults = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=[100, "Tesla" , "49000"])

In [249]:
EV_defaults(200)

ElectricVehicle(range=200, make='Tesla', price='49000')

```python
def funny_function(a=None, b):
    pass
```
```bash
 Cell In[8], line 1
    def funny_function(a=None, b):
                               ^
SyntaxError: non-default argument follows default argument
```

In [250]:
EV_defaults_non = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=("49000",))

In [251]:
EV_defaults_non(100,"Tesla")

ElectricVehicle(range=100, make='Tesla', price='49000')

```python
EV_defaults_non("Tesla")
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[12], line 1
----> 1 EV_defaults_non("Tesla")

TypeError: ElectricVehicle.__new__() missing 1 required positional argument: 'make'
```

In [252]:
ev1._asdict()

{'range': 417, 'make': 'Chevrolet', 'price': 42000}

In [253]:
EV_4 = namedtuple("ElectricVehicle", "range make price", defaults=("49000",))

In [254]:
other_tesla = EV_4(100, "Telsa")

In [255]:
other_tesla

ElectricVehicle(range=100, make='Telsa', price='49000')

# BONUS: A Quick point on immutability

In [256]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [257]:
ev = EV(200, "Chevy", 49000)

# Immutable

In [258]:
ev.range

200

```python
evrange = 300
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[30], line 1
----> 1 evrange = 300

AttributeError: can't set attribute
```

In [259]:
ev2 = EV([200,300], "Chevy", 49000)

In [260]:
type(ev2.range)

list

In [261]:
id(ev2.range)

1509634433088

In [262]:
ev2.range[0] = 250

In [263]:
ev2.range

[250, 300]

In [264]:
id(ev2.range)

1509634433088

In [265]:
ev3 = EV((200,300), "Chevy", 49000)

In [266]:
type(ev3.range)

tuple

```python
ev3range[0] = 250
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[43], line 1
----> 1 ev3range[0] = 250

TypeError: 'tuple' object does not support item assignment
```

# 98. BONUS: Typed NamedTuple

since 3.6 --> Tyed namedtuples

In [267]:
from typing import NamedTuple

In [268]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int

In [269]:
ev = EVehicle(100, "Tesla", 12000)

In [270]:
ev.range, ev.make, ev.price

(100, 'Tesla', 12000)

In [271]:
ev[0], ev[1], ev[2]

(100, 'Tesla', 12000)

In [272]:
[print(x) for x in ev]

100
Tesla
12000

[None, None, None]

```python
evrange = 6000
```

```python
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In[12], line 1
----> 1 evrange = 6000

AttributeError: can't set attribute
```

In [273]:
print(ev)

EVehicle(range=100, make='Tesla', price=12000)

In [274]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int = 39000

In [275]:
ev = EVehicle(100, "Tesla")

In [276]:
ev

EVehicle(range=100, make='Tesla', price=39000)

# Dataclasses

* added to 3.7
* fine tuned for staring state

In [277]:
from dataclasses import dataclass

In [278]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [279]:
class RegElectricVehicle:
    def __init__(self, _range, price, make) -> None:
        self._range = _range
        self.price = price
        self.make = make

In [280]:
ev = ElectricVehicle(100, "Tesla", 3900)

In [281]:
ev.range, ev.make, ev.price

(100, 'Tesla', 3900)

In [282]:
eev = RegElectricVehicle(99, "GM", 98989898)

In [283]:
eev.make, eev.price, eev._range

(98989898, 'GM', 99)

# 100. Batteries Inclueded

In [284]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [285]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price

In [286]:
ev1 = ElectricVehicle(240, "Mazda", 34000)

In [287]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)

In [288]:
ev1

ElectricVehicle(range=240, make='Mazda', price=34000)

In [289]:
eval(repr(ev1))

ElectricVehicle(range=240, make='Mazda', price=34000)

In [290]:
rev1 # object's __reprp__

In [291]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"

In [292]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)

In [293]:
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [294]:
rev1

RegularElectricVehicle (range=140, make='Jeep', price=54000)

In [295]:
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

## Equality

In [296]:
ev1 == ev2

True

In [297]:
ev2 == ev3

False

In [298]:
rev1 == rev2 # object's __eq__

False

In [299]:
id(rev1), id(rev2)

(1509634526992, 1509634431248)

In [300]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price

In [301]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [302]:
rev1 == rev2

True

## Comparison operators

```python
ev1 > ev2
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[219], line 1
----> 1 ev1 > ev2

TypeError: '>' not supported between instances of 'ElectricVehicle' and 'ElectricVehicle'
```

In [303]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

In [304]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [305]:
ev1 > ev2

False

In [306]:
ev3 > ev2

True

```python
rev1 > rev2
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[225], line 1
----> 1 rev1 > rev2

TypeError: '>' not supported between instances of 'RegularElectricVehicle' and 'RegularElectricVehicle'
```

In [307]:
class RegularElectricVehicle:
    def __init__(self, range, make , price) -> None:
        self.range = range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range > other.range

In [308]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [309]:
rev1 > rev3

False

In [310]:
rev3 > rev1

True

In [311]:
rev1 < rev3

True

In [312]:
class RegularElectricVehicle:
    def __init__(self, _range, make , price) -> None:
        self.range = _range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range > other.range
    
    def __ge__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range >= other.range

In [313]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [314]:
rev1 == rev2

True

In [315]:
class RegularElectricVehicle:
    def __init__(self, _range, make , price) -> None:
        self.range = _range
        self.make = make
        self.price = price
    
    def __repr__(self) -> str:
        return f"{type(self).__name__} (range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, other) -> bool:
        if not type(other) == type(self):
            return False
        return self.range == other.range and self.make == other.make and self.price == other.price
    
    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return (other.range, other.make, other.price) < (self.range, self.make, self.price)
    
    def __ge__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported.")
        return self.range >= other.range

In [316]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [317]:
ev3 > ev1

True

# Type Hints

In [318]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

```python
Argument of type "Literal['Andrew']" cannot be assigned to parameter "range" of type "int" in function "__init__"
  "Literal['Andrew']" is incompatible with "int"PylancereportGeneralTypeIssues
```

In [319]:
ec = ElectricVehicle("Andrew", 10, 230000)

In [320]:
ec.range

'Andrew'

In [321]:
from typing import Any

In [322]:
from dataclasses import dataclass

In [323]:
@dataclass(order=True)
class ElectricVehicle:
    range: Any
    make: str
    price: int

In [324]:
ec = ElectricVehicle("Andrew", "Tesla", 230000)

In [325]:
@dataclass(order=True)
class ElectricVehicle:
    range: object
    make: object
    price: object

In [326]:
@dataclass(order=True)
class ElectricVehicle:
    range: ...
    make: ...
    price: ...

In [327]:
ec = ElectricVehicle("Andrew", "Tesla", 230000)

# Customizing Fields

In [328]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

In [329]:
# fields

In [330]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str = "Tesla"
    price: int = 56000

In [331]:
ev = ElectricVehicle(420)

In [332]:
ev.make

'Tesla'

In [333]:
ev

ElectricVehicle(range=420, make='Tesla', price=56000)

In [334]:
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': 56000}

In [335]:
from dataclasses import field

In [336]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)

In [337]:
ev = ElectricVehicle(420)
ev2 = ElectricVehicle(421)
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': 56000}

In [338]:
ev

ElectricVehicle(range=420, make='Tesla')

In [339]:
ev > ev2

False

In [340]:
ev2 > ev

True

In [350]:
from functools import total_ordering

@total_ordering
@dataclass
class ElectricVehicle:
    range: int = field()
    make: str = field(default="Tesla")
    price: int = field(default=56000, repr=False)

    def __gt__(self, other):
        if not type(self) == type(other):
            return NotImplemented
        
        return self.price < other.price

In [351]:
ev = ElectricVehicle(range=420)
ev2 = ElectricVehicle(range=421, price=56001)

In [352]:
ev > ev2

True

In [353]:
ev2 > ev

False

In [354]:
ev, ev2

(ElectricVehicle(range=420, make='Tesla'),
 ElectricVehicle(range=421, make='Tesla'))

In [355]:
ev >= ev2

True

In [356]:
ev <= ev2

False

In [357]:
ev == ev2

False

# BONUS: Further Customization

In [359]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = field(default=False)

What is luxury?

* a price that is greater than 80k and
* a make that is BMW, Mercedez or Tesla

In [360]:
ev_1 = ElectricVehicle(100, "Tesla" , 40000, False)
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_3 = ElectricVehicle(100, "Audi" , 30000, False)

In [369]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = False

    def __post_init__(self):
        luxury_brands = ["BMW", "Mercedes", "Tesla"]
        self.luxury = self.make in luxury_brands and self.price > 80000

In [370]:
ev_5 = ElectricVehicle(100, "Tesla" , 80001)
ev_5.__dict__

{'range': 100, 'make': 'Tesla', 'price': 80001, 'luxury': True}

In [374]:
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_2.luxury

True

In [375]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = None

    def __post_init__(self):
        luxury_brands = ["BMW", "Mercedes", "Tesla"]
        if self.luxury is None:
            self.luxury = self.make in luxury_brands and self.price > 80000

In [376]:
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_2.luxury

False

In [377]:
ev_2.__dict__

{'range': 100, 'make': 'BMW', 'price': 140000, 'luxury': False}

In [381]:
@dataclass(order=True)
class ElectricVehicle:
    LUXURY_BRANDS = ("BMW", "Mercedes", "Tesla")

    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = None

    def __post_init__(self):
        if self.luxury is None:
            self.luxury = self.make in self.LUXURY_BRANDS and self.price > 80000

In [382]:
ev_2 = ElectricVehicle(100, "BMW" , 140000, False)
ev_2.luxury

False

In [383]:
ev_5 = ElectricVehicle(100, "Tesla" , 80001)
ev_5.__dict__

{'range': 100, 'make': 'Tesla', 'price': 80001, 'luxury': True}